<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDUz_C7N8tCIiw213G9TJSWhNTpexCSR94</string>
	<key>GCM_SENDER_ID</key>
	<string>1081993108172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.almanet</string>
	<key>PROJECT_ID</key>
	<string>almanet-3c967</string>
	<key>STORAGE_BUCKET</key>
	<string>almanet-3c967.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081993108172:ios:9aa1bb262a7f1bb16ec069</string>
</dict>
</plist>